.field-width-container {
  margin: 1em 0;
}

h4 {
  margin: 0;
}

/* Make slider grow and fix clipping with pixel width label*/
.slider-longer {
  flex-grow: 1;
  margin-right: 0.5em;
}

.slider-container {
  display: flex;
  align-items: center;
  margin: 0 1em;
}

.checkbox-container {
  margin: 0 1em;
  text-align: left;
}