<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="input" appearance="fill">
    <mat-label>Choose difficulty</mat-label>
    <mat-select formControlName="name">
      <mat-option *ngFor="let difficultyName of difficultyNames"
        [value]="difficultyName">
        {{ difficultyName }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field class="input" appearance="fill">
    <mat-label>Board dimension</mat-label>
    <input matInput type="number" formControlName="boardDimension"
      [min]="1" [max]="50">
    <mat-error *ngIf="settingsForm.get('boardDimension').invalid">
      Must be between 1 and 50
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input" appearance="fill">
    <mat-label>Number of bombs</mat-label>
    <input matInput type="number" formControlName="numberOfBombs"
      [min]="0" [max]="maxNumberOfBombs">
    <mat-hint>{{ settingsForm.value | bombPercentage}}</mat-hint>
    <mat-error *ngIf="settingsForm.get('numberOfBombs').invalid">
      Must be between 1 and {{ maxNumberOfBombs }}
    </mat-error>
  </mat-form-field>

  <div class="field-width-container">
    <h4>Field width</h4>
    <div class="slider-container">
      <mat-slider #slider color="primary"
        [value]="fieldSize"
        [min]="fieldSizeService.minFieldSize"
        [max]="fieldSizeService.maxFieldSize"
        class="slider-longer"
        (input)="onFieldSizeChange($event)">
      </mat-slider>
      <span [innerHTML]="slider.value + 'px'"></span>
    </div>
  </div>

  <button class="start-button" [disabled]="!settingsForm.valid" mat-raised-button
    color="primary" type="submit">Start</button>
</form>