<form>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Choose difficulty</mat-label>
    <mat-select name="difficulty" [(ngModel)]="difficulty"
      (ngModelChange)="onSelectUpdate()">
      <mat-option *ngFor="let difficultyOption of difficultyList"
        [value]="difficultyOption">
        {{ difficultyOption.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Board dimension</mat-label>
    <input matInput type="number" name="boardDimension" min="1" max="50"
      [(ngModel)]="boardDimension"
      (change)="onInputUpdate()">
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Number of bombs</mat-label>
    <input matInput type="number" name="numberOfBombs" min="0"
      [max]="maxNumberOfBombs()"
      [(ngModel)]="numberOfBombs"
      (change)="onInputUpdate()">
  </mat-form-field>
  <div class="field-width-container">
    <h4>Field width</h4>
    <div class="slider-container">
      <mat-slider #slider color="primary"
        [value]="fieldSize"
        [min]="fieldSizeService.minFieldSize"
        [max]="fieldSizeService.maxFieldSize"
        class="slider-longer"
        (input)="onFieldSizeChange($event)">
      </mat-slider>
      <span [innerHTML]="slider.value + 'px'"></span>
    </div>
  </div>
  <button class="start-button" [disabled]="isInvalid()" mat-raised-button
    color="primary" (click)="start()">Start</button>
  <mat-hint class="error-hint" *ngIf="isInvalid()">Invalid values</mat-hint>
</form>