:host {
  text-align: center;
}

.field-width-container {
  margin: 1em 0 2em;
}

.input {
  width: 100%;
  padding-bottom: 0.5em;
}

.slider-longer {
  flex-grow: 1;
  margin-right: 0.5em;
}

h4 {
  margin: 0;
}

.slider-container {
  display: flex;
  align-items: center;
  margin: 0 1em;
}