<form>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Choose difficulty</mat-label>
    <mat-select name="difficulty" [(ngModel)]="difficulty"
      (ngModelChange)="onSelectUpdate()">
      <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty">
        {{ difficulty.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Board dimension</mat-label>
    <input matInput type="number" name="boardDimension"
      [(ngModel)]="boardDimension" min="1" max="20" (change)="onInputUpdate()">
    <mat-error *ngIf="numberOfBombs > boardDimension">Min size: 10px</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Number of bombs</mat-label>
    <input matInput type="number" name="numberOfBombs"
      [(ngModel)]="numberOfBombs" min="0" [max]="maxNumberOfBombs()"
      (change)="onInputUpdate()">
  </mat-form-field>
  <div class="field-width-container">
    <h4>Field width</h4>
    <div class="slider-container">
      <mat-slider #slider min="30" max="60" color="primary"
        class="slider-longer"
        (input)="onFieldSizeChange($event)">
      </mat-slider>
      <span [innerHTML]="slider.value + 'px'"></span>
    </div>
  </div>
  <button class="start-button" [disabled]="isInvalid()" mat-raised-button
    color="primary" (click)="start()">Start</button>
</form>