.flags-counter {
  opacity: 0.3;
  text-align: left;
  width: 100%;
}

.field:hover {
  background-color: #424242
}

.field {
  background-color: #3d3d3d;
  border: 1px solid #363636;
  border-radius: 0;
  font-size: inherit;
  min-width: inherit;
  min-height: inherit;
  padding: 0;
  line-height: normal;
  display: inline-flex; /* center bomb and flag icons */
  justify-content: center;
  align-items: center;
}

.field:disabled {
  background-color: #363636;
}

.board-container {
  padding: 2em;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-container {
  font-size: inherit;
  min-width: inherit;
  min-height: inherit;
  display: flex;
}
