.field {
  border-radius: 0;
  min-width: 0;
  padding: 0;
  line-height: normal;
}

.board-container {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-container {
  display: flex;
}