<!-- Every button inherits the minimal size from this element -->
<div class="board-container"
  [style.fontSize.px]="fieldSize / 2"
  [style.minHeight.px]="fieldSize"
  [style.minWidth.px]="fieldSize">
  <div class="row-container"
    *ngFor="let row of board.getFields()"
    (contextmenu)="false">
    <button mat-raised-button class="field"
      [color]="fieldColors(field)"
      *ngFor="let field of row"
      [disabled]="field.isChecked()"
      (click)="onClick(field)"
      (contextmenu)="onRigthClick(field)"
      [innerHtml]="field | printField">
    </button>
  </div>
</div>
<!-- Debug -->
<button mat-mini-fab color="primary"
  style="position: fixed; top: 100px; right: 50px;"
  (click)="newBoard()"><mat-icon>cached</mat-icon></button>
<button mat-mini-fab color="accent"
  style="position: fixed; top: 150px; right: 50px;"
  (click)="showAll()"><mat-icon>visibility</mat-icon></button>