<!-- Every button inherits the minimal size from this element -->
<div class="board-container"
  [style.fontSize.px]="fieldSize / 2"
  [style.minHeight.px]="fieldSize"
  [style.minWidth.px]="fieldSize">
  <p class="flags-counter">Flags: {{ board.flagCounter }}</p>
  <div class="row-container"
    *ngFor="let row of board.fields"
    (contextmenu)="false">
    <button mat-button class="field"
      *ngFor="let field of row"
      [disabled]="field.isChecked"
      (click)="onClick(field)"
      (contextmenu)="onRigthClick(field)"
      [innerHtml]="field.value | printField:field.isFlagged:field.isChecked">
    </button>
  </div>
</div>
