<form [formGroup]="boardForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="input" appearance="fill">
    <mat-label>Choose difficulty</mat-label>
    <mat-select formControlName="name">
      <mat-option *ngFor="let name of presetNames" [value]="name">
        {{ name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="input" appearance="fill">
    <mat-label>Board dimension</mat-label>
    <input matInput type="number" formControlName="boardDimension"
      [min]="1" [max]="maxBoardDimension">
    <mat-error *ngIf="boardDimension.invalid">
      Must be between 1 and {{ maxBoardDimension }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input" appearance="fill">
    <mat-label>Number of bombs</mat-label>
    <input matInput type="number" formControlName="numberOfBombs"
      [min]="0" [max]="getMaxNumberOfBombs()">
    <mat-hint>
      {{ boardForm.value | bombPercentage}}
    </mat-hint>
    <mat-error *ngIf="boardForm.invalid">
      {{ getNumberOfBombsError() }}
    </mat-error>
  </mat-form-field>

  <button class="start-button" type="submit" mat-raised-button color="primary"
    [disabled]="boardForm.invalid">Start</button>
</form>