<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title | titlecase }}</span>
</mat-toolbar>
<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav #sidenav opened="true">
    <app-settings
      (newGameEvent)="onNewGameEvent($event)"
      (closeSidenav)="onCloseSidenavEvent()"></app-settings>
  </mat-sidenav>
  <mat-sidenav-content (click)="sidenav.close()">
    <app-board [difficulty]="difficulty"></app-board>
  </mat-sidenav-content>
</mat-sidenav-container>