@import '../custom-theme.scss';

$foreground-map: map-get($theme, "foreground");

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Stretch page to 100% height */
mat-sidenav-container {
  flex: 1;
}

mat-sidenav {
  width: 304px;
  padding: 1em;
}

.flag-counter {
  font-weight: normal;
  color: mat-color($foreground-map, "hint-text");
  margin-left: 0.5ch;
}