:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mat-sidenav-transition .mat-sidenav-backdrop.mat-sidenav-shown {
  background: skyblue;  /* replace skyblue with any color */
}

/* Stretch page to 100% height */
mat-sidenav-container {
  flex: 1;
}

mat-sidenav {
  width: 304px;
  padding: 1em;
}