@import '~@angular/material/theming';

$primary: mat-palette($mat-pink, 500);
$accent: mat-palette($mat-amber, 600);
$warn: mat-palette($mat-amber, 600);

$theme: mat-dark-theme($primary, $accent, $warn);
