@import './custom-theme.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.field-icon {
  font-size: unset;
  color: #757575;
}

.dark-snack-bar {
  background-color: #9E9E9E;
}

@mixin two-tone-palette($colorA, $colorB, $colorsCount) {
  @for $i from 0 to $colorsCount {
    .color-#{$i + 1} {
      color: mix($colorB, $colorA, 100% * $i / ($colorsCount - 1));
    }
  }
}

$primary: mat-color(map-get($theme, primary));
$accent: mat-color(map-get($theme, accent));

// Gradient palette used for bomb hints
@include two-tone-palette($primary, $accent, 8);
